html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}
html{
  overflow:hidden;
  margin:0;
  padding:0;
}
.logo{
  width:50%;
  overflow: hidden;
  padding:0;
  margin:0;
  display:inline-block;
}
.iimage{
  width:100%;
  position: relative;
  display:block;
}
img{
  width: 100%;
  display:block;
  overflow:hidden;
}
.heading{
  width:100%;
  overflow:hidden;
  padding: 0;
  margin:0;
  display:block;

}

nav{
  font-weight: normal;
  color: white;
  background-color:#a32222;
  text-align:center;
  padding: 1em;
}
nav ol{
  list-style-type: none;
  margin: 0;
  padding:0;
}
nav li{
  display: inline-block;
}
nav a{
  display: inline-block;
  color: white;
  text-decoration: none;
  width: 6em;
  font-size: 16px;
}
h2{
  text-align: center;
  color: #a32222;
}
.heart{
  position:absolute;
  bottom: -10%;
  background-image: linear-gradient(to bottom, transparent,#a32222 );
  padding:1em;
  width:100%;
  color: lightgrey;
  display: inline-block;
  overflow:hidden;
}
h3{
  color: #a32222;
}
.break{
  width:50%;
  float:left;

}
.break1{
  width:50%;
  float:right;
}
.lunch{
  width:50%;
  float:left;
}
.lunc2h{
  width:50%;
  float:right;

}
.aboutd{
  background-color: lightgrey;
  padding:1em;
  overflow:hidden;
}
.top{
  background-color: lightgrey;
  padding: 0;
  display:block;
  overflow:hidden;
  margin:0 auto;
  position:relative;
}
